{% extends "layout.html" %}

{% block body %}
  <form action="/wordSearch" method="post">
    <h6>Lyric Query</h6>
    <input name="lyricquery" type="text" placeholder="Search..">
    <br/><br/>
    <input type="submit" value="Search for Lyric"/>
  </form>
  <form action="/songSearch" method="post">
    <h6>Song Name to Add</h6>
    <input name="songquery" type="text" placeholder="Search..">
    <br/><br/>
    <input type="submit" value="Search for Song"/>
  </form>
  <form action="/deleteDB" method="post">
    <input type="submit" value="Clear Database"/>
  </form>
{% endblock %}
